<section class="relative min-h-screen flex items-center justify-center">

	<img src="/src/assets/Rectangle 3.png" 
		 alt="Yellow Background" 
		 class="w-full h-full object-cover absolute inset-0 -z-10" />
  

	<div
	class="absolute right-4 md:right-28 top-1/2 transform -translate-y-1/2 w-[80%] md:w-[318px] max-h-[75vh] overflow-auto  text-right text-black font-semibold leading-tight">
	  <a href="#" class="block hover:text-gray-500 transition">Ace Hotel</a>
	  <a href="#" class="block hover:text-gray-500 transition">ARMEDANGELS</a>
	  <a href="#" class="block hover:text-gray-500 transition">BERLIN DESIGN WEEK</a>
	  <a href="#" class="block hover:text-gray-500 transition">Berliner Berg</a>
	  <a href="#" class="block hover:text-gray-500 transition">BITE CLUB</a>
	  <a href="#" class="block hover:text-gray-500 transition">Budweiser Budvar</a>
	  <a href="#" class="block hover:text-gray-500 transition">ChungKing Noodles</a>
	  <a href="#" class="block hover:text-gray-500 transition">Designpreis Brandenburg</a>
	  <a href="#" class="block hover:text-gray-500 transition">Die Techniker</a>
	  <a href="#" class="block hover:text-gray-500 transition">European Street Food Awards</a>
	  <a href="#" class="block hover:text-gray-500 transition">Grundmann Dentistry</a>
	  <a href="#" class="block hover:text-gray-500 transition">HORNBACH Werkstück</a>
	  <a href="#" class="block hover:text-gray-500 transition">HORNBACH macht Schule</a>
	  <a href="#" class="block hover:text-gray-500 transition">iF Design</a>
	  <a href="#" class="block hover:text-gray-500 transition">Kapka</a>
	  <a href="#" class="block hover:text-gray-500 transition">KLH Maßschuhe</a>
	  <a href="#" class="block hover:text-gray-500 transition">Lode & Stijn</a>
	  <a href="#" class="block hover:text-gray-500 transition">Luya</a>
	  <a href="#" class="block hover:text-gray-500 transition">MEISSEN</a>
	  <a href="#" class="block hover:text-gray-500 transition">Motel Beer & Coffee</a>
	  <a href="#" class="block hover:text-gray-500 transition">PAPER & TEA</a>
	  <a href="#" class="block hover:text-gray-500 transition">rocket & basil</a>
	  <a href="#" class="block hover:text-gray-500 transition">Seeberger Gruppe</a>
	  <a href="#" class="block hover:text-gray-500 transition">Shiori</a>
	  <a href="#" class="block hover:text-gray-500 transition">SPOC Magazin</a>
	  <a href="#" class="block hover:text-gray-500 transition">stacuba</a>
	  <a href="#" class="block hover:text-gray-500 transition">STUR</a>
	  <a href="#" class="block hover:text-gray-500 transition">World of Coffee</a>
	  <a href="#" class="block hover:text-gray-500 transition">yamo</a>
    </div>
    </section>
  