    <section class="relative min-h-screen flex items-center justify-center">
    <img src="/src/assets/Rectangle 3.png" 
	  alt="Yellow Background" 
	  class="absolute inset-0 w-full h-full object-cover -z-10" />
	<div
	  class="absolute right-4 md:right-28 top-1/2 transform -translate-y-1/2 w-[80%] md:w-[318px]  text-right text-black font-semibold leading-tight">
      <a href="#" class="customer-link">Ace Hotel</a>
	  <a href="#" class="customer-link">ARMEDANGELS</a>
	  <a href="#" class="customer-link">BERLIN DESIGN WEEK</a>
	  <a href="#" class="customer-link">Berliner Berg</a>
	  <a href="#" class="customer-link">BITE CLUB</a>
	  <a href="#" class="customer-link">Budweiser Budvar</a>
	  <a href="#" class="customer-link">ChungKing Noodles</a>
	  <a href="#" class="customer-link">Designpreis Brandenburg</a>
	  <a href="#" class="customer-link">Die Techniker</a>
	  <a href="#" class="customer-link">European Street Food Awards</a>
	  <a href="#" class="customer-link">Grundmann Dentistry</a>
	  <a href="#" class="customer-link">HORNBACH Werkstück</a>
	  <a href="#" class="customer-link">HORNBACH macht Schule</a>
	  <a href="#" class="customer-link">iF Design</a>
	  <a href="#" class="customer-link">Kapka</a>
	  <a href="#" class="customer-link">KLH Maßschuhe</a>
	  <a href="#" class="customer-link">Lode & Stijn</a>
	  <a href="#" class="customer-link">Luya</a>
	  <a href="#" class="customer-link">MEISSEN</a>
	  <a href="#" class="customer-link">Motel Beer & Coffee</a>
	  <a href="#" class="customer-link">PAPER & TEA</a>
	  <a href="#" class="customer-link">rocket & basil</a>
	  <a href="#" class="customer-link">Seeberger Gruppe</a>
	  <a href="#" class="customer-link">Shiori</a>
	  <a href="#" class="customer-link">SPOC Magazin</a>
	  <a href="#" class="customer-link">stacuba</a>
	  <a href="#" class="customer-link">STUR</a>
	  <a href="#" class="customer-link">World of Coffee</a>
	  <a href="#" class="customer-link">yamo</a>
    </div>
    </section>
  